fastapi
uvicorn
python-multipart
SQLAlchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
slowapi
discord.py
beautifulsoup4
requests
httpx
APScheduler
python-dotenv
pytz
isomorphic-dompurify
pydantic
pydantic-settings
